.navigation-jacks {
  font-size: 14px;
}

.navigation-jacks > .action {
  color: red;
  text-decoration: none;
  font-weight: 400;
}

.navigation-jacks > .action.-active {
  text-decoration: underline;
}
